<div class="form">
  <div class="logo-app">
    <%= image_tag "logo-app-removebg.png" %>
  </div>
  <div class="message">
    <h1>ようこそ、MOVIE TWEETへ！</h1>
    <p>下記項目を入力し、新規登録を行ってください。</p>
  </div>

  <div class="form-field">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <div class="field">
        <div class="label"><%= f.label :name, "お名前" %></div>
        <div class="content"><%= f.text_field :name, autofocus: true %></div>
      </div>

      <div class="field">
        <div class="label"><%= f.label :email, "Eメール アドレス" %></div>
        <div class="content"><%= f.email_field :email, autocomplete: "email" %></div>
      </div>

      <div class="field">
        <div class="label"><%= f.label :password, "パスワード" %></div>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <div class="content"><%= f.password_field :password, autocomplete: "off" %></div>
      </div>

      <div class="field">
        <div class="label"><%= f.label :password_confirmation, "パスワード（確認用）" %></div>
        <div class="content"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
      </div>


      <div class="field">
        <%= f.submit "新規登録", class: "submit" %>
      </div>
    <% end %>
  </div>
</div>