<div class="post-text">
  <%= form.text_field :title, placeholder: "タイトル" %>
  <%= form.text_area :content, placeholder: "説明" %>
</div>
<div class="post-content">
  <div class="label"><%= f.label :password, "パスワード" %></div>
  <%= form.file_field :attachment, placeholder: "file" %>
</div>
<div class="post-send">
  <%= form.submit "投稿" %>
</div>