<div class="post-text">
  <%= form.text_field :title, placeholder: "タイトル（必須）" %>
  <%= form.text_area :content, placeholder: "説明（任意）" %>
</div>
<div class="post-content">
    <%= form.label :attachment, "file", class: "image-btn" %>
    <%= form.file_field :attachment, class: "image-form" %>
</div>
<div class="post-submit">
  <%= form.submit "投稿", class: "post-btn" %>
</div>
  