<div class="image-content">
  <div class="content-box">
    <div class="content-image">
      <% if tweet.attachment.attached? %>
        <% fullfilename = rails_blob_path(tweet.attachment) %>
        <% @ext = File.extname(fullfilename).downcase %>
        <% if @ext == ".jpg" || @ext == ".jpeg" || @ext == ".png" || @ext == ".gif" || @ext == ".heic" %>
          <%= image_tag fullfilename, width: "150px" %>
        <% elsif @ext == ".mp4" || @ext == ".avi" || @ext == ".webm" || @ext == ".flv" %>
          <%= video_tag fullfilename, width: "150px", controls: true, playsinline: true %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="content-title">
    <h1><%= tweet.title %></h1>
    <p><%= tweet.content %></p>
    <%= link_to tweet.user.name, user_path(tweet.user.id) %>
  </div>
</div>