<div class="contents">
  <div class="content-title content">
    <p><%= @tweet.title %></p>
    <span class="content-text content">
      <%= @tweet.content %>
    </span>

    <div class="image-contents">
        <%= render partial: "show", locals: { tweet: @tweet } %>
    </div>

  <div class="comment-container">
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], method: :post, local: false, id: "form") do |form| %>
        <%= form.text_area :comment, placeholder: "コメントする", row: "2", id: "content" %>
        <%= form.submit "投稿する", id: "submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントを投稿するには<%= link_to "新規登録", new_user_registration_path %>、または<%= link_to "ログイン", new_user_session_path %>をしてください ※※※</p></strong>
    <% end %>

    <div class="comment-title">
      <h4>＜コメント一覧＞</h4>
    </div>

    <div class="comments">
      <% @comments.each do |comment| %>
        <div id="list">
        </div>
        <div class="comment-content">
          <p><strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %></strong>
          <%= comment.comment %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

