<div class="contents row">
  <div class="content_post">
    <div class="more">
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
        </li>
      </ul>
    </div>
    <p><%= @tweet.content %></p>
    <span class="title"><%= @tweet.title %></span>
    <span class="image"><%= image_tag @tweet.image, width: "150px" %></span>
  </div>
</div>