<div class='group-form'>
  <h1>新規グループ</h1>
  <%=form_with model: @group, local: true do |f|%>
    <div class='group-form__field'>
      <div class='group-form__field--left'>
        <%= f.label :グループ名, class: 'group-form__label'%>
      </div>
      <div class='group-form__field--right'>
        <%= f.text_field :name, class: 'group_name group-form__input', placeholder: 'グループ名を入力してください'%>
      </div>
    </div>
    <div class='group-form__field--right'>
      <%= f.collection_check_boxes :user_ids, User.all.where.not(id: current_user.id), :id, :name, name: "group[user_ids][]" %>
      <input name="group[user_ids][]" type="hidden" value=<%= current_user.id %>>
      <%= f.submit "グループを作成する", class: "group-form__action-btn" %>
    </div>


  <% end %>

</div>
