<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <div class="content_post">
      <p><%= tweet.title %></p>
      <p><%= tweet.content %></p>

      <% if tweet.attachment.attached? %>
        <% fullfilename = rails_blob_path(tweet.attachment) %>
        <% @ext = File.extname(fullfilename).downcase %>

        <% if @ext == ".jpg" || @ext == ".jpeg" || @ext == ".png" || @ext == ".gif" || @ext == ".heic" %>
          <%= image_tag rails_blob_path(tweet.attachment), width: "150px" %>
        <% elsif @ext == ".mp4" || @ext == ".avi" || @ext == ".webm" || @ext == ".flv" %>
          <%= video_tag rails_blob_path(tweet.attachment), width: "150px", controls: true, playsinline: true %>
        <% end %>
      <% end %>

    </div>
  <% end %>
</div>
