<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Movietweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "tweets/header" %>

    <%= yield %>

    <footer>
      <div class="logo-app">
        <%= image_tag "logo-app.png" %>
        <h1>思い出共有アプリ<br>
        「MOVIE TWEET」</h1>
        <%= image_tag "apple-app.png", class: "apple-app" %>
        <%= image_tag "google-app.png", class: "google-app" %>
      </div>
      <div class="copyright">
        <p>Copyright © Tetsuya Kanamaru -Movie Tweet- All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
